/* LIGHT MODE (default) */
:root {
--bg-color: #ffffff !important;
  --card-color: #ffffff !important;
  --text-color: #000000 !important;
  --subtext-color: #475569 !important;
  --primary-color: #3b82f6;

  /* Ini kunci utama yang memaksa halaman Ionic berwarna putih full */
  --ion-background-color: #ffffff !important;
  --ion-text-color: #000000 !important;
  --ion-item-background: #ffffff !important;
  --ion-card-background: #ffffff !important;
  --ion-toolbar-background: #ffffff !important; /* Biar header atas ikut putih jika mau */
}