/* LIGHT MODE (default) */
:root {
  --bg-color: #ffffff;
  --card-color: #f1f5f9;
  --text-color: #000000;
  --subtext-color: #64748b;
  --primary-color: #3b82f6;

  --ion-background-color: var(--bg-color);
  --ion-text-color: var(--text-color);
}

/* DARK MODE */
body.dark {
  --bg-color: #121212;
  --card-color: #1e293b;
  --text-color: #ffffff;
  --subtext-color: #94a3b8;
  --primary-color: #38bdf8;

  --ion-background-color: var(--bg-color);
  --ion-text-color: var(--text-color);
}